$color-primary-0: #759D34;	// Main Primary color */
$color-primary-1: #C1D5A0;
$color-primary-2: #99B964;
$color-primary-3: #568110;
$color-primary-4: #3E6500;

$color-secondary-1-0: #AA9839;	// Main Secondary color (1) */
$color-secondary-1-1: #E7DEAD;
$color-secondary-1-2: #C8BA6C;
$color-secondary-1-3: #8C7912;
$color-secondary-1-4: #6D5C00;

$color-secondary-2-0: #255C69;	// Main Secondary color (2) */
$color-secondary-2-1: #6C888F;
$color-secondary-2-2: #45727C;
$color-secondary-2-3: #0D4856;
$color-secondary-2-4: #013744;
